.App {
  text-align: center;
  color: #ffffff;
}

.rating{
    font-size: 30px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    background: #333;
}

.App-header input{
    color: black;
}

.panel-title a{
    cursor: pointer;
}

.input-text{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888888;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #282828;
    border-radius: 4px;
}

.search-button:focus{
    outline: none;
}